@if (DisplayContact)
{
    <p>Name : <b>@contact.FirstName @contact.LastName</b> </p>
    @if (IsDislplayEmail)
    {
        <p>Email : <b>@contact.Email</b> </p>
    }
    <button onclick="@(()=>{IsPersonDetail=!IsPersonDetail;})">Show Details</button>
    <button onclick="@(()=>DeleteCurrentContact.InvokeAsync(contact))">Delete</button>
    <br />
    @if (IsPersonDetail)
    {
        <span>The Cellphone and address of @contact.FirstName @contact.LastName are @contact.Phone and @contact.Address </span>
    }
}

<span>@DisplayContact</span>

@code {
    [Parameter]
    public Contact contact { get; set; }

    [Parameter]
    public EventCallback<Contact> DeleteCurrentContact { get; set; }

    [Parameter]
    public bool IsDislplayEmail { get; set; }

    public bool IsPersonDetail { get; set; }

    [Parameter]
    public bool DisplayContact { get; set; }

    // public void ShowContact() {  
    //     displayContact = true;
    // }

    // public void HideContact()
    // {
    //     displayContact = false;
    // }
}
